html,
body,
#root,
.App {
  margin: 0 auto;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart-container {
  flex: 1;
  max-height: 500px;
  max-width: 700px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  margin: 0;
}

button {
  width: 50px;
}
